<main class="container">
  <img id="logoMarca" src="../assets/img/AutoLogo.png">
  <br>
  <div class="boxInformacoes">
      <h1>Bem vindo</h1>
      <p>Entre com suas credenciais</p>
      <form>
          <div class="boxCredenciais">
              <img src="../assets/img/email_black_24dp.svg">
              <input type="email" class="botao" placeholder="Digite seu E-mail">
          </div>
          <div class="boxCredenciais">
              <img src="../assets/img/password_black_24dp.svg">
              <input type="password" class="botao" placeholder="Digite sua senha">
          </div>

          <div class="boxCredenciais">
              <input type="submit" id="botaoEntrar" value="Entrar">
          </div>
      </form>
        <a href="#" class="recuperar_senha">Esqueceu a senha?</a>

  </div>
</main>


